* {
    font-family: sans-serif;
}

a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}


.wrapper .form-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

