* {
    padding: 0;
    margin: 0;

    color: white;
    font-family: arial, sans-serif;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1a222c+100 */
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #1a222c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%, #1a222c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%, #1a222c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#1a222c', GradientType=0);
    /* IE6-9 */
}

.wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a222c+0,000000+100 */
    background: #1a222c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a222c 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a222c 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a222c 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a222c', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    min-height: 100vh;

    padding-bottom: 10vh;
}

nav {
    text-align: center;
    padding: 10pt 0;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
    background: black;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    font-size: 16pt;
    border-radius: 10px;

    transition: all 100ms ease-in;
}

nav > a:hover {
    background: #24303f;
}

.welcoming {
    margin: 30px auto;
    padding-right: 135px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.ava {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 25px;
}

.message-wrapper {
    position: relative;
    background: #24303f;
    border-radius: 58px;

    max-width: 500px;

    margin-top: 100px;
    padding: 20px 140px 30px 40px;
}

.name {
    color: #78e4d1;
    font-size: 28pt;
    font-weight: 400;
    margin-bottom: 10px;
}

.text {
    font-size: 22pt;
    color: #fefffe;
}

.time {
    position: absolute;
    right: 40px;
    bottom: 20px;

    color: #b4c3d3;
    font-style: italic;
    font-size: 18pt;
    font-weight: 100;
}

.arrow {
    position: absolute;

    left: -21px;
    bottom: 0;

    height: 80px;
}

.content {
    position: relative;

    width: 790px;
    margin: 0 auto;
}

.content h1 {
    text-align: center;
    font-size: 24pt;
}

.resume-wrapper {
    margin-top: 100px;
}

.resume-wrapper h1 {
    margin-bottom: 15px;
}

.resume-wrapper p {
    color: #a8b0ba;
    font-size: 18pt;
    word-spacing: 10px;
    text-indent: 50px;
    line-height: 30pt;

    padding: 10px;
}

.labs-wrapper {
    margin-top: 100px;

    text-align: left;
    font-size: 18pt;
}

table {
    margin-top: 25px;
}

.labs-wrapper a {
    font-family: monospace;
}

table td {
    font-size: 20pt;
    line-height: 32pt;

    vertical-align: top;
}


table td:nth-child(2) {
    margin: 30px 0;
    padding-left: 15px;
    color: #a8b0ba;
}

table ul {
    padding-left: 30px;
}

.resume-wrapper p{
        text-indent: 0px;
}

table li {
    color: #a8b0ba;
    font-size: 18pt;
    word-spacing: 10px;
    line-height: 30pt;
}


.contacts-wrapper {
    margin-top: 40px;
}

.contacts-wrapper .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts-wrapper h1 {
    margin-bottom: 20px;
}

.contacts-wrapper .phone {
    font-size: 26pt;
    margin-right: 25px;
    font-family: monospace;
}

.contacts-wrapper a.vk {
    height: 32px;
}

.contacts-wrapper a.tg {
    height: 40px;
}

.contacts-wrapper a.vk img {
    height: 32px;
    margin-right: 7px;
    transition: all 300ms ease-in-out;
}

.contacts-wrapper a.tg img {
    height: 40px;
    transition: all 300ms ease-in-out;
}



.contacts-wrapper a.vk:hover img {
    transition: all 300ms ease-in-out;
    transform: translate(-10px, -10px) scale(0.8) rotate(-20deg);
}

.contacts-wrapper a.tg:hover img {
    transition: all 3000ms ease-in-out;
    transform: translate(2000px, -1500px);
}

#cent {
    text-align: center;
}
