* {
    font-family: sans-serif;
}

a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}

.wrapper {
    position: absolute;

    top: 0;
    height: max-content;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    font-size: 21pt;
    padding: 50px 0;
}
