* {
    font-family: sans-serif;
}

a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}

.block {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 50vh;
    height: 50vh;
    margin: auto;

    border: white solid 3px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 100px 40px;

    background: #8e8e93 center;
    background-size: cover;
}