* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.btn-slide {
  position: fixed;
  height: max-content;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 100px 20px;
  width: 20px;
  font-weight: bold;
  font-size: 20pt;
  word-wrap: break-word;
  text-transform: uppercase;
  border: #d15700 solid 3px;
  color: white;
  background: #ff6a00;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.btn-slide.left {
  left: 0;
  border-radius: 0 10px 10px 0;
  border-left-width: 0;
}
.btn-slide.right {
  right: 0;
  border-radius: 10px 0 0 10px;
  border-right-width: 0;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  border: #d15700 solid 0;
  border-right-width: 3px;
  border-left-width: 3px;
  color: white;
  background: #ff6a00;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  align-items: center;
}
.menu a {
  color: white;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=default.css.map */
