* {
    background: #ded;
    font-family: sans-serif;
}

a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}

#triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 200px 100px;
    border-color: #00871d #000;
    position: absolute;
    outline: 2px solid red;
}

#triangle2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 200px 100px;
    border-color: #00871d #fff;
    position: absolute;
    top: 100px;
    left: 0px;
    outline: 2px solid red;
}


body {
    width: 200px;
    margin: 50px auto;
}
