#b1, #b2, #b3, #b4 {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    line-height:  100px;
}

* {
    margin: 10px auto;
    font-family: sans-serif;
}


a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}