* {
    font-family: sans-serif;
}

table {
    font-size: 30pt;
    border-collapse: collapse;
    width: 500px;
    height: 500px;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: rgb(128, 128, 128);
    color: white;
}

.wekeends {
    background: red;
    color: white;
}

.weekdays {
    color: red;

}

#month {
    font-size: 30pt;
    width: 100%;
    margin: 5px auto;
}

.container {
    font-size: 25pt;
    width: 500px;
    text-align: center;

}

.empty {
    background: rgb(220, 220, 220)
}

.current_day {
    background: rgb(0, 102, 255);
    color: white;
    font-weight: bold;
}

body {
    width: 500px;
    margin: 0 auto;
}


a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}
