* {
    font-family: sans-serif;
}

a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;

    font-size: 26pt;
}

.menu {
    position: relative;
    top: 50px;
    width: max-content;
    height: max-content;
    margin: auto;
}

.menu > .outside {
    cursor: pointer;
    position: relative;
    left: -10px;
    padding: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.menu > .outside > .arrow {
    transition: all 1s ease-in-out;
    font-size: 33pt;
    color: #ffc800;
}
.menu > .outside.opened > .arrow {
    transition: all 1s ease-in-out;
    transform: rotate(60deg);
}

.menu > .outside > .text {
    font-size: 22pt;
    padding-left: 10px;
}

.menu > .items {
    transition: all 1s ease-in-out;
    text-align: center;
    font-size: 15pt;
    line-height: 20pt;
}

.menu > .items > div {
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: relative;
    top: -10px;
    height: 50px;
    overflow: hidden;
}

.menu > .items:before {
    transition: all 1s ease-in-out;
    opacity: 0;
    filter: blur(10px);
    content: 'Закончились конфеты..';
}
.menu > .items.game-over:before {
    transition: all 1s ease-in-out;
    opacity: 1;
    filter: blur(0px);
}

.hidden {
    transition: all 1s ease-in-out;
    height: 0 !important;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-50%) scaleY(0);
}