* {
    font-family: sans-serif;
    text-align: center;
}

a.back {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #007aff;
    text-decoration: none;
    font-size: 26pt;
}

main {
    margin-top: 100px;
/*    margin-left: 50px;*/
}

input[type=submit],input[type=button]  {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 13pt;
    border: none;
    border-radius: 5px;
    background: #007aff;
    cursor: pointer;
}

table {
    margin: auto;
}

td {
    text-align: left;  Выравниваем текст по центру ячейки 
   }