* {
    font-family: sans-serif;
}

a.back {
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 30px;

    color: #007aff;
    text-decoration: none;
    font-size: 26pt;
}

form {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div.inputs {
    display: grid;
    justify-content: center;
    grid-template-columns: max-content 250px 150px;
    grid-auto-rows: auto auto;
    grid-auto-flow: row;
    grid-gap: 15px 10px;
    margin-top: 70px;
}

label {
    grid-column: 1 / 2;
    text-align: right;
    font-size: 13pt;
    padding: 15px 0;
}

input {
    grid-column: 2 / 4;
    font-size: 13pt;
    padding-left: 10px;
}


input[type=submit] {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 13pt;
    border: none;
    border-radius: 5px;
    background: #007aff;
    cursor: pointer;
}

p {
    text-align: center;
}